body {
	background-color: black;
	color: red;
}

.banner {
  grid-column: 1 / 3;
  text-align: center;
  grid-area: banner;
  background-color: rgba(50, 50, 50, 0.8);
}
.main {
  grid-area: main;
  background-color: rgba(70, 70, 70, 0.8);
}
.menu {
  grid-area: menu;
  background-color: rgba(60, 60, 60, 0.8);
}

.grid-container {
  display: grid;
  grid-template-areas: 
  	'banner banner'
  	'menu main';

  grid-template-columns: 200px 860px;
  grid-template-rows: auto auto;

  padding: 10px;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  justify-content: center;
}
table, th, td {
  table-layout: fixed;
  width: 300px;
  border: 1px solid red;
}

.iframe {
  width: 100%;
  height: 100%;
  border: 0;
}

.flex-gallery {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.gallery {
  width: 110px;
  border: 1px solid red;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}
.testes {
}