body {
  background-color: black;
  color: red;
}

.back {
  position: absolute;
}

.flex-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
.flex-img{
  flex: 1 1 30%;
}

.banner {
  grid-column: 1 / 3;
  text-align: center;
  grid-area: banner;
  background-color: rgba(50, 50, 50, 0.8);
}
.main {
  grid-area: main;
  background-color: rgba(70, 70, 70, 0.8);
}
.menu {
  grid-area: menu;
  background-color: rgba(60, 60, 60, 0.8);
}
.right {
  grid-area: right;
  background-color: rgba(60, 60, 60, 0.8);
}

.grid-container {
  display: grid;
  grid-template-areas: 
    'banner banner banner'
    'menu main right';

  grid-template-columns: 200px 650px 200px;
  grid-template-rows: auto auto auto;

  padding: 10px;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  justify-content: center;
}